div {
    position: absolute;
    font-size: 48px;
    color: rgb(164, 164, 164);
}

p {
    & svg {
        fill: white;
    }
    margin: 5px;
}

::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    .tooltip-caret.position-top {
      border-top-color: #04838f;
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }
    background-color: #04838f;
    min-width: 50px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
