<!-- ! Used | async pipe in the template to subscribe to the observables & display the data without needing to unsubscribe.  -->
 <!-- * https://angular.fr/pipes/async -->

<section>
  <header>
    <h1>Medals per Country</h1>
  
    <!-- Display the number of JO's and countries -->
    <section aria-labelledby="jo-info">
      <div id="jo-info" class="stats-container">
        <div *ngIf="(averageParticipations$ | async) as average" class="participation">
          <p><strong>Number of JOs</strong> <span>{{ average }}</span></p>
        </div>
        <div *ngIf="(getNumberOfCountry$ | async) as getNumberOfCountry" class="country">
          <p><strong>Number of Countries</strong> <span>{{ getNumberOfCountry }}</span></p>
        </div>
      </div>
    </section>
  </header>
  
  
  <!-- Error display if it comes out async fetch-->
  <div *ngIf="(error$ | async) as error">
    <p style="color: red;">{{ error }}</p>
    <button (click)="olympics$">Retry</button>
  </div>
  
  <!-- Show data when it is fetched -->
  <div *ngIf="(olympics$ | async) as olympics">
    <h1>Olympic Data</h1>
    <ul>
      <li *ngFor="let country of olympics">
        <h2>{{ country.country }}</h2>
        <ul>
          <li *ngFor="let participation of country.participations">
            <p>Year: {{ participation.year }}</p>
            <p>City: {{ participation.city }}</p>
            <p>Medals: {{ participation.medalsCount }}</p>
            <p>Athletes: {{ participation.athleteCount }}</p>
          </li>
        </ul>
      </li>
    </ul>>
  </div>
</section>

<!-- Show loading message while data is being fetched -->
<!-- ng-template is used to define a template that can be used later in the component -->
<ng-template #loading>
  <p>Loading Olympic data...</p>
  <app-loader></app-loader>
</ng-template>
