:host {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  margin: 2rem 0 0 0;
  width: 100%;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  h1 {
    padding: 0.7rem 3rem;
    margin: 0 0 2rem 0;
    border-radius: 10px;
    background-color: var(--background-secondary-color);
    font-weight: 300;
    color: var(--text-secondary-color);
    text-align: center;
  }
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  gap: 1rem;
}

@mixin common-style($margin-right: 1rem, $margin-left: 0) {
  margin: 0 $margin-right 0 $margin-left;
  padding: 0.5rem 1rem;
  border: 2px solid var(--background-secondary-color);
  border-radius: 10px;
  text-align: center;

  p {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    strong {
      font-weight: 300;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    span {
      font-weight: 700;
      font-size: 1rem;
    }
  }
}

.participations,
.medals,
.athletes {
  @include common-style(1rem, 1rem);
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2rem 0;
  width: 50vw;
  height: 50vw;
  max-width: 400px;
  max-height: 400px;
  padding: 1rem;
}

button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: 2px solid var(--button-border-color);
  border-radius: 30px;
  background-color: var(--button-background-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--button-border-color);
  }
  a {
    text-decoration: none;
    color: var(--text-color);
    font-size: large;
  }
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  header h1 {
    padding: 0.5rem 2rem;
  }

  .stats-container {
    flex-direction: column;
    align-items: center;
  }

  .participations,
  .medals,
  .athletes {
    width: 90%;
    margin: 0.5rem 0;
  }

  .chart-container {
    width: 80vw;
    height: 80vw;
    max-width: 300px;
    max-height: 300px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }

  .stats-container {
    padding: 0.5rem;
  }

  .participations,
  .medals,
  .athletes {
    width: 100%;
  }

  .chart-container {
    width: 90vw;
    height: 90vw;
    max-width: 250px;
    max-height: 250px;
  }
}
